*{
  margin: 0px;
}

body {
  background-color: rgb(234,237,237);
  margin: 0;
  font-family:  'Oxygen', 'Droid Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}
